- 
    let iconTours = [
        {
            benefit: 'Transfer',
            id:'icon-directions_bus'
        },
        {
            benefit: 'Travel insurance',
            id:'icon-id-card-svgrepo-com'
        },
        {
            benefit: 'Professional guide',
            id:'icon-face_4'
        },
        {
            benefit: 'Travel insurance',
            id:'icon-ticket-blank-svgrepo-com'
        }
    ];

mixin card-tours(srcset1x, srcset2x, srcset3x, alt, title, price,...description)
    .thumb
        img(
        srcset= '/src/img/webp/tours/' + srcset1x + ' 1x,' + '/src/img/webp/tours/' + srcset2x + ' 2x,' + '/src/img/webp/tours/' + srcset3x + ' 3x'
        src= '/src/img/webp/tours/' + srcset1x
        alt= alt)

    h3= title 

    ul
        each val in description
            li= val

    p Included:

    ul
        each iconData in iconTours
            li
                svg(width='24' height='24' aria-label='benefit icon')
                    use(href='/src/img/icons/symbol-defs.svg#' + iconData.id)
            p= iconData.benefit
    
    p= 'Price: ' + price
    a(href='#') Book


